.test_buttons{
    text-align : center;
    padding : 100px;
    background-color: burlywood;
    

    


}
.course_buttons{
    text-align : center;
    padding : 100px;
    background-color: darkslategray;

}